@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    font-size: 1.4rem;
  }

  #dueDate::-webkit-calendar-picker-indicator {
    filter: invert(1) brightness(50%) sepia(100%) saturate(10000%)
      hue-rotate(180deg);
  }

  #dueDate::-webkit-datetime-edit {
    display: block;
  }

  input[type="date"]::-webkit-datetime-edit {
    display: none;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /*color: rgba(255, 255, 255, 0.87);*/
  background-color: var(--board-bg--color) /** #242424 **/;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Background colors */
  --board-bg--color: #191b2b;
  --card-bg--color: #272a43;
  --header-bg--color: #272a43;
  --filter-bg--color: #151724;
  --background-white: #ffffff;

  /* Text colors */
  --primary-text--color: #dfe0e4;
  --secondary-text--color: #9fa5b4;
  --field-disabled--color: #bcc0ca;
  --text-disabled--color: #67697b;

  /* User icon colors */
  --user-icon--bg-color--purple: #c335fb;
  --user-icon--bg-color--lavender: #915aff;
  --user-icon--bg-color--blue: #3591fb;
  --user-icon--bg-color--lightblue: #35cdfb;

  /* Card priority colors */
  --card-priority--color-high: #e2445b;
  --card-priority--color-medium: #f5ad40;
  --card-priority--color-low: #5cca77;

  /* Button colors */
  --button-bg--color: #915aff;
  --button-text--color: #dfe0e4;
  --button-offset--color: #915aff;
  --button-hover--color: #7c22fc;
}
